body {
    box-sizing: border-box;
    padding: 0;
    font-family: "Diavlo", "sans-seriff";
    margin: 40px 0px 30px 30px;
    text-transform: capitalize;
}

.wrapper {
    background: rgba(237, 234, 234, 0.422);
    padding: 30px 100px;
}

.wrap {
    margin-top: 40px;
    padding-left: 20px;
}

.title {
    background-color: #016984;
    color: #fff;
    padding: 25px 0;
    text-transform: uppercase;
}

.vietnam-airline {
    color: #016984;
}

.wrap i {
    color: #78adb1;
    font-size: 24px;
    padding: 5px;
}

 .wrap .location span {
    font-weight: bold;
}

 .wrap .money {
    color: #016984;
    font-weight: bold;

}

 .wrap .outstanding {
    color: #daa310;
    font-weight: bold;
}

 .wrap p {
    font-weight: bold;
}

 .info-second {
    margin-top: 20px;

}

.info-third {
    margin-top: 20px;
}

 .logo-image {
    display: flex;
}

 .logo-image img {
    padding: 0 5px;
    height: 26px
}

.btn {
    margin: 20px 0;
}

 .btn button {
    border: none;
    background-color: #daa310;
    box-shadow: inset;
    color: #fff;
    height: 30px;
    width: 200px;
    font-size: 20px;
}

 .btn button:first-child {
    margin-right: 40px;
}

.info-customer {
    border: 1px solid black;
    padding: 20px 0px;
}

 .info-customer .check-children {
    display: flex;
}

 .info-customer .field {
    padding: 5px 0;
}

 .info-customer .field label {
    width: 45%;
}

 .info-customer .field input,
 .info-customer .field select {
    height: 24px;
    width: 50%;

}

 .check-children input {
    margin: 0 5px 12px 5px;
}

@media (max-width: 768px) {
    body {
        margin: 0 ;
        padding: 0;
        font-size: 10px;

    }

    .title p {
        font-size: 20px;
    }

    .wrapper {
        padding: 20px 0;
        margin: 0px;
    }

     .logo-image img {
        display: none;
    }

    .info-customer {
        padding: 10px 10px;
        width: 100%;
    }
    .info-customer .field{
        margin-left: 5px;
    }

    .info-customer .field label {
        width: 80px;
    }

     .info-customer .field input {
        width: 100px;
    }

    .info-customer .field select {
        width: 100px;
    }

    .btn button {
        margin-bottom: 10px;
    }

     .btn button:last-child {
        margin-left: 0;
    }

   .btn button:first-child {
        margin-left: 40px;
    }

}

@media (max-width: 1000px) {
    .wrapper {
        padding: 20px 5px;
    }

     .info-customer {
        width: 100%;
    }

     .info-customer .field label {
        display: block;
        width: 100%
    }

     .info-customer .field input,
     .info-customer .field select {
        width: 70%;
    }


}