.card {
    border: none;
    padding: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

@media screen and (max-width: 768px) {

    body {
        font-size: 14px;
        background-color: #eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }
}


body {
    font-family: 'Poppins', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    /*background-image: url('./img/background.jpg')*/
}

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}